<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/player">Player</a>
      <a mat-list-item (click)="showSearch()">Search</a>
      <a mat-list-item routerLink="/recent">Recent</a>
      <a mat-list-item>Playlist</a>
      <a mat-list-item (click)="showRandomPlayList()">Random Playlist</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>loe-music</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet layout-align="center center"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
